#rank-container {
  background-color: #01e22e;
  border-radius: 10px;
  width: 700px;
  height: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
  gap: 70px;
  overflow-y: scroll;
}

#rank-content table {
  background-color: white;
  color: black;
  padding: 30px;
  border-radius: 6px;
  border-collapse: collapse;
}

#rank-content table td {
  border: 1px solid gray;
  padding: 10px;
}

table tbody tr:hover {
  background-color: rgb(0, 211, 0);
  color: white;
  border: 1px solid white;
}

table th {
  border: 1px solid gray;
  padding: 10px;
}

#rank-btns {
  display: flex;
  justify-content: center;
  gap: 80px;
  width: 100%;
  margin-top: 40px;
}

#rank-btns button {
  width: 120px;
  height: 50px;
  background-color: white;
  border: 1px solid white;
  border: none;
  border-radius: 6px;
  padding: 2px;
  cursor: pointer;
  padding: 10px;
}

#rank-btns button:hover {
  background-color: rgb(0, 211, 0);
  color: white;
  border: 1px solid white;
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: rgb(0, 94, 0);
  margin: 15px;
}

::-webkit-scrollbar {
  padding: 5px;
  background-color: white;
  border-radius: inherit;
}

@media (max-width: 700px) {
  #rank-btns {
    position: fixed;
    width: 550px;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    right: 10%;
    bottom: 5%;
  }

  #rank-btns button {
    border: 1px solid black;
  }

  #rank-container {
    background-color: transparent;
    overflow: visible;
    margin-left: 1%;
  }

  #rank-content {
    margin: 50px;
  }
}

@media (max-width: 500px) {
  #rank-container {
    transform: scale(0.7);
  }
  #rank-content {
    margin: 50px;
  }
}