#posmodal-container {
  background-color: #385c4c;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;
  flex-direction: column;
  border-radius: 30px;
}

#posmodal-content {
  background-color: #80dcac;
  border-radius: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding: 50px;
}

#posmodal-content img {
  border-radius: 6px;
  border: 3px solid white;
}

#posmodal-content button {
    text-align: center;
    padding: 20px;
    width: 160px;
    height: 40px;
    border-radius: 30px;
    border: none;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #18ac5c;
    cursor: pointer;
}

@media (max-width: 700px) {
  #posmodal-container {
    transform: scale(0.8);
  }
}
